__pycache__/
.ipynb_checkpoints/
x86_64/
*.dll
*.o
*.c
*.pt
*.pth
*.mat
*.pkl
*.npy
*.zip
*backup*
/temp/
/M1Focus/network/
/M1Focus/results/
/M1Focus/input/*.h5
/M1Focus/output/*.*
/Analysis/simulation_results/
/Analysis/simulation_resultsv2/
/Analysis/simulation_resultsv3/
/Analysis/simulation_resultsv4/
/Analysis/simulation_result_v6/*
/M1Focus/error_baseline.txt
/M1Focus/error_long.txt
/M1Focus/error_short.txt
/M1Focus/out_baseline.txt
/M1Focus/out_long.txt
/M1Focus/out_short.txt
Analysis/simulation_results_v4/
M1Focus/error_baseline.txt
M1Focus/error_long.txt
M1Focus/error_short.txt
M1Focus/out_baseline.txt
M1Focus/out_long.txt
M1Focus/out_short.txt
